{% load static %}

<link rel="stylesheet" href="{% static 'download/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<meta content="width=device-width, initial-scale=1" name="viewport" />

<!DOCTYPE html>


<html>
    
<body>

    {% include "main.html" %}
    {% block content %}
    {% endblock content %}

    <div>
    <table class="redTable">
        <tr>
            <td><div class="thumbnail"><a href='{{ url }}'><img src="{{ thumbnail_url }}" alt="thumbnail"></a></div></td>
        </tr>
        <tr>
            <td>Title:<br><h2><a href="{{ url }}"> {{ title }}</a></h2></td>
        </tr>
        <tr>
            <td>Author:<br>{{ author }}</td>
        </tr>
        <tr>
            <td>{{ views }} views</td>
        </tr>
        <tr>
            <td>Published {{ publish_date }}</td>
        </tr>
        <tr>
            <td>Length:<br>{{ length }}</td>
        </tr>
        <tr>
            <td class="Description">Description:<br>{{ description }}</td>
        </tr>
    </table>
</div>
<div>
    <h1>Video</h1>
    <table class="redTable">
        <thead>
            <tr>
                {% comment %} <th>type</th> {% endcomment %}
                {% comment %} <th>mime_type</th> {% endcomment %}
                <th>subtype</th>
                <th>resolution</th>
                <th>fps</th>
                <th>filesize [Bytes]</th>
                <th>bitrate</th>
                {% comment %} <th>codecs</th> {% endcomment %}
                <th>video</th>
                <th>audio</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for stream in streams_video %}
            <tr>
                {% comment %} <td>{{ stream.type }}</td> {% endcomment %}
                {% comment %} <td>{{ stream.mime_type }}</td> {% endcomment %}
                <td>{{ stream.subtype }}</td>
                <td>{{ stream.resolution }}</td>
                <td>{{ stream.fps }}</td>
                <td>{{ stream.filesize }}</td>
                <td>{{ stream.bitrate }}</td>
                {% comment %} <td>{{ stream.codecs }}</td> {% endcomment %}
                <td>{{ stream.video_codec }}</td>
                <td>{% if stream.audio_codec == None %}
                    -
                    {% else %}
                        {{ stream.audio_codec }}
                    {% endif %}
                </td>
                <td>
                    <a class="go_to_source" href="{{stream.url}}" onclick="saveIDownloadedInfo()" download>Go to source</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h1>Audio</h1>
    <table class="redTable">
        <thead>
        <tr>
            {% comment %} <th>type</th> {% endcomment %}
            {% comment %} <th>mime_type</th> {% endcomment %}
            <th>subtype</th>
            <th>abr</th>
            <th>filesize [Bytes]</th>
            <th>bitrate</th>
            {% comment %} <th>codecs</th> {% endcomment %}
            <th>audio</th>
            <th>download_url</th>
            <th>mp3</th>
        </tr>
    </thead>
    <tbody>
        {% for stream in streams_audio %}
        <tr>
            {% comment %} <td>{{ stream.type }}</td> {% endcomment %}
            {% comment %} <td>{{ stream.mime_type }}</td> {% endcomment %}
            <td>{{ stream.subtype }}</td>
            <td>{{ stream.abr }}</td>
            <td>{{ stream.filesize }}</td>
            <td>{{ stream.bitrate }}</td>
            {% comment %} <td>{{ stream.codecs }}</td> {% endcomment %}
            <td>{{ stream.audio_codec }}</td>
            <td>
                <a class="go_to_source" href="{{stream.url}}" onclick="saveIDownloadedInfo()" download>Go to source</a>
            </td>
            <td>
                {% comment %} <a href="#" onclick="download_mp3(stream)" download>Download mp3</a> {% endcomment %}
                <button onclick="download_mp3({{stream.itag}})">Download mp3</button>
            </td>

        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</body>

</html>
<script>

    {% comment %} <a> gdy klikam scroolem to nie działa {% endcomment %}
    function saveIDownloadedInfo() {
        let data = { 'url': "{{url}}", 'title': "{{ title }}", 'author': "{{ author }}", 'thumbnail_url': "{{thumbnail_url}}" };
        let url = "download/add";
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", url, true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        // console.log(JSON.stringify(data));
        xhr.send(JSON.stringify(data))
    }

    function download_mp3(itag){
        let data = {"itag" : itag, "url" : "{{url}}"};
        let url = "download/get_mp3";
        var xhr = new XMLHttpRequest();
        xhr.responseType = 'blob';

        xhr.onreadystatechange = function() {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                var blob = xhr.response;
                var a = document.createElement('a');
                a.href = window.URL.createObjectURL(blob);
                filename = xhr.getResponseHeader('Filename');
                a.download = filename
                a.dispatchEvent(new MouseEvent('click'));

                saveIDownloadedInfo();
                delete_mp3(filename);
            }
        }
        xhr.open("POST", url, true);
        //xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('Content-type', 'application/force-download');
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        //console.log(data)
        console.log(JSON.stringify(data));
        xhr.send(JSON.stringify(data))
    }

    function delete_mp3(filename){
        console.log('---------delete------------------');
        let data = { "filename":filename };
        let url = "download/get_mp3";
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", url, true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        xhr.send(JSON.stringify(data))
    }

</script>